<tr class="<%= classes.join(' ') %>">
  <td>
    <time class="dt-published" datetime="<%= _date_format(line[:timestamp], @tz, '%Y-%m-%dT%H:%M:%S%z') %>">
      <%= _date_format(line[:timestamp], @tz, '%H:%M') %>
    </time>
  </td>
  <td class="nick"><span class="p-author h-card"><%= nick %></span></td>
  <td class="p-content p-name">
    <%= html %>
  </td>
</tr>
