<div class="h-entry line <%= classes.join(' ') %>">
  <time class="dt-published" datetime="<%= _date_format(line[:timestamp], @tz, '%Y-%m-%dT%H:%M:%S%z') %>">
    <%= _date_format(line[:timestamp], @tz, '%H:%M') %>
  </time>
  <span class="nick"><span class="p-author h-card"><%= nick %></span></span>
  <span class="p-content p-name">
    <%= html %>
  </span>
</div>
