<html>
<head>
  <title></title>
  <link rel="stylesheet" href="<%= _l '/assets/style.css' %>">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= _l '/assets/icon-57.png' %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= _l '/assets/icon-72.png' %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= _l '/assets/icon-114.png' %>">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= _l '/assets/icon-144.png' %>">
</head>
<body>
  <%= yield %>
</body>
</html>